.wrapper_boxFood {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(240px, min-content)); */
    grid-gap: 10px;
}
.wrapper_boxFood div {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}