.accordion {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    boxShadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    color: white;
    padding: 0px 0px 0px 15px;
    fontSize: 15px;
}
.rectangle {
    width: 80%;
    height: 200;
    backgroundColor: blue;
    marginTop: 20;
}
.checkList {
    padding: 0px !important;
}
.titleCheckList {
    color: #fff;
    fontSize: 15px !important;
    fontWeight: 500;
}
.iconCheck {
    color: #FF7C71 !important;
}