/* create day 25/04/2023 */
.wrap_footer_app {
  min-height: 480px;
  background: #222222;
  padding-top: 90px;
}

.title_item_footer {
  color: #fff;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 19px;
}

.content_item_footer {
  color: #636363;
}

.input_footer {
  width: 85%;
}

.group_img_footer {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.group_img_footer p {
  margin-bottom: 7px;
  margin-right: 7px;
}
