.class_compress_basic {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
.layout_dashboard {
    display: flex;
    width: 96.5%;
    margin: auto;
    padding-top: 22.55px;
    justify-content: center;
}

.wrapp_menu_dashboard {
    width: 27%;
}

.menu_dashboard {
    width: 18.5%;
    background: #fff;
    height: 90vh;
    border-radius: 10px;
    padding: 22px 22px 0 22px;
    position: fixed
}

.wrap_content_admin {
    width: 100%;
    margin-left: 0px
}

.group_logo_name_chef {
    display: flex;
    width: 100%;
}

.group_logo_name_chef .logo {
    width: 58px;
    height: 58px;
    background: #fff;
    border-radius: 50%;
}

.group_logo_name_chef .name {
    padding: 12px;
    font-weight: 700;
    font-size: 23px
}

.list_nemu_dashboard li {
    padding: 13px 0px 10px 0px;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    color: #172b4c;
    display: flex;
    gap: 15px;
    align-items: center
}

.list_nemu_dashboard li:hover {
    color: #BF014B
}

.wrap_bodyContent_admin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px
}

/* group_btn_contact */
.group_btn_contact {
    gap: 1px;
}

.group_btn_contact li {
    width: 35%;
    color: #fff;
    background: #4DCA88;
    padding: 7px 0 6px 0;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    margin-top: 18px;
}
.item {
    margin: 0;
    font-size: 17px;
}
.link {
    text-decoration: none;
}