/* Shop page */
.linkStyle {
    text-decoration: none;
}
.wrap_shop {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}
.wrapper_item {
    width: 77%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px
}
.bodyContentShop {
    display: flex;
    justifyContent: space-between;
    gap: 10px;
}
.wrapper_cateList {
    width: 22%;
    margin-top: 20px;
}
.ss {
    width: 50px;
    border: 1px solid red;
}
.backdrop {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0px);
    position: absolute;
    top: 0;
}

/* responsive */
/* Mobile: width < 740px */
@media only screen and (max-width: 470px) {
    .wrapper_item {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (max-width: 1115px) {
    .wrapper_item {
        grid-template-columns: repeat(3, 1fr);
    }
    .wrap_shop {
        width: 95%;
    }
}
@media only screen and (max-width: 870px) {
    .bodyContentShop {
        flex-wrap: wrap-reverse;
    }
    .wrapper_item {
        width: 100%;
    }
    .wrapper_cateList {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .wrapper_item {
        grid-template-columns: repeat(2, 1fr);
    }
    .wrapper_cateList {
        width: 100%;
    }
}
@media only screen and (max-width: 450px) {
    .wrapper_item {
        grid-template-columns: repeat(1, 1fr);
    }
}